<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<h1>Login</h1>
<form method="post" action="/login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required/>
    </div>
    <div>
        <button type="submit">Sign In</button>
    </div>
</form>
<p th:if="${param.error}" style="color: red;">Invalid username or password.</p>
<p th:if="${param.logout}" style="color: green;">You have been logged out.</p>
<p>Don't have an account? <a href="/signup">Sign up</a></p>
</body>
</html>